:root {
    --color1: white;
    --color2: #18191a;
    --body: #001233;
    --navbuttext: #ff595a;
    --currentbutton: #18191a;
    --header: #001233;
    --transition-speed: 0.5s;
    --switch: #001233;
    --headerh1: #ff595a;
    --switchborder: #ff595a;
    --content: white;
}

.darkmode {
    --color1: #313338;
    --color2: white;
    --body: #1e1f22;
    --navbuttext: white;
    --currentbutton: white;
    --header: #313338;
    --button: #313338;
    --headerh1: white;
    --switchborder: white;
    --content: #313338;

}

.header-img {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    margin: 10px;
    filter: invert(1);
}

header h1 {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'Bokor', cursive;
    font-size: 50px;
    transition: color var(--transition-speed) ease-in-out;
    font-weight: normal;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: var(--header);
    height: 80px;
    display: flex;
    align-items: center;
    transition: background-color var(--transition-speed) ease-in-out;

}

.parent {
    margin-left: auto;
}

@font-face {
    font-family: 'ggsans-medium';
    src: url('ggsans-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'ggsans-bolder';
    src: url('ggsans-ExtraBold.ttf');
    font-weight: bolder;
    font-style: normal;
}

.header-nav {
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;

}

.header-nav ul {
    display: flex;
    margin: 0;
}

.header-nav ul li {
    margin: 0 10px;
}

.header-nav ul li a {
    padding: 0 30px;
    cursor: pointer;
    height: 100%;
    display: block;
    font-family: 'ggsans-bolder', sans-serif;
}

body {
    background-color: var(--body);
    transition: background-color var(--transition-speed) ease-in-out;
    
}

.btn {
    background-color: var(--content);
    border-radius: 15px 15px 0px 0px;
    color: var(--currentbutton);
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
}

.spacer {
    height: 15px;
}

.nav-button {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background: var(--navb);
    color: var(--navbuttext)
}

.nav-button:after {
    content: "";
    width: 85%;
    height: 0%;
    background: var(--content);
    position: absolute;
    transition: all 0.3s ease-out;
    bottom: 0;
}

.nav-button:hover::after {
    width: 100%;
    height: 25%;
    border-radius: 15px 15px 0px 0px;
}

.nav-button span {
    text-align: center;
    color: var(--navbuttext);
    transition: all 0.3s ease-in-out;
}

.nav-button:hover span {
    transform: scale(1.05) translateY(-3px);
}

.content {
    background-color: var(--content);
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'ggsans-medium', sans-serif;
    border-radius: 15px 15px 0px 0px;
    color: var(--color2);
    height: auto;
    display: flex;
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
    justify-content: space-between;
}

.left-column,
.right-column {
    flex-basis: 50%;
    padding: 0 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  
}

.left-column {
    text-align: left;
    display:flex;
    margin-left: 90px;
    
}

.left-column p{
    font-size: 20px;
    text-align: justify;
}

h3{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 60px;
    align-items: center;
}

.right-column {
    
    text-align: right;
    display:flex;
}

.content h1 {
    font-family: 'Pacifico', cursive;
}

.content h2 {
    font-family: 'ggsans-bolder', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}

.content .right-column h1 {
    font-size: 50px;
    font-weight: normal;
}

.content>div {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .right-column p {
    text-align: left;
    font-size: 18px;
    margin-top: 30px;
    text-indent: 50px;
}

.content .right-column img {
    border-radius: 15px;
    width: 430px;
}

.content2{
    background-color: var(--content);
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'ggsans-medium', sans-serif;
    border-radius: 0px 0px 15px 15px;
    color: var(--color2);
    height: auto;
    display: flex;
  
}

.content2-container{
    width: 100%;
    overflow: visible;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    
    
}

.content2-container p{
    font-family: 'ggsans-medium', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 30px;
    justify-content: space-between;
}

.content2-container h2{
    
    font-family: 'ggsans-bolder', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}
table {
    align-items: center;
    width: 100%;
}

td {
    
    border: none;
    padding: 10px;
    text-align: center;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
}

td img {
    width: 50rem;
    height: auto;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px ;
    transition: box-shadow 0.5s ease-in-out;
}






/* #dropdown-content {
    padding: 300px;
    height: 0;
    background-color: black;
    color:white;
    overflow: hidden;
    transition: height 0.5s linear;
  }
  
  #dropdown:hover #dropdown-content {
    height: 300px;
    transition: height 0.5s linear;
  } */
  


  
/* .extra-layer1 {

    position: fixed;
    bottom: 0;
    left: 100px;
    right: 100px;
    height: 82px;
    
    background-color: var(--body);
    z-index: 2;
}

.extra-layer2 {

    position: fixed;
    bottom: 0;
    left: 100px;
    right: 100px;
    height: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--content);
    z-index: 3;
    margin-bottom: 72px;
} */
      
  
/* .fixed-nav {
    margin-top: 15px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
    z-index: 9999;
    border-radius: 15px 15px 0 0;
    padding-top: 40px;
}

.fixed-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.fixed-nav ul li {
    margin: 0 10px;
    list-style: none;
}

.fixed-nav ul li a {
    padding: 0 30px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ggsans-bolder', sans-serif;
    color: var(--navb);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.fixed-nav ul li a:hover {
    color: var(--navbuthover);
} */
  

  
  
  

.content2 h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    line-height: 1.2;
    text-align:center;
    margin-top: 50px;
}


.content3{
    background-color: var(--content);
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'ggsans-medium', sans-serif;
    border-radius: 0px 0px 15px 15px;
    color: var(--color2);
    height: 800px;
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 15px;
}




footer {
    width: 100%;
    background-color: var(--header);
    color: var(--color1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    transition: background-color var(--transition-speed) ease-in-out;
    z-index: 8;
}

footer h1 {
    display: inline-block;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'Roboto', sans-serif;
    transition: color var(--transition-speed) ease-in-out;
    z-index: 8;
}


.toggle-switch {
    position: relative;
    width: 60px;
    height: 25px;
    --light: white;
    --yellow: #ffd801;
    --dark: #18191a;
    float: right;
    margin-right: 25px;
}

.switch-label {
    position: absolute;
    width: 4.5rem;
    height: 2.3rem;
    background-color: var(--switch);
    border-radius: 30px;
    cursor: pointer;
    border: 3px solid var(--switchborder);
    transition: background-color var(--transition-speed) ease-in-out, border-color var(--transition-speed) ease-in-out;
}

.checkbox {
    position: absolute;
    
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    

}

.checkbox:checked~.slider {
    background-color: var(--color1);
    transition: background-color var(--transition-speed) ease-in-out;
    
}

.slider::before {
    content: "";
    position: absolute;
    top: 0.35rem;
    left: 0.4rem;
    
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--switchborder);
    transition: background-color var(--transition-speed) ease-in-out;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30x);
    transform: translateX(34px);
    -webkit-box-shadow: inset 7px -4px 0px 0px var(--yellow);
    box-shadow: inset -9px -4px 0px 0px var(--yellow);
    background-color: var(--color1);

}
