:root {
    --color1: white;
    --color2: #18191a;
    --body: #001233;
    --navbuttext: #ff595a;
    --currentbutton: #18191a;
    --header: #001233;
    --transition-speed: 0.5s;
    --switch: #001233;
    --headerh1: #ff595a;
    --switchborder: #ff595a;
    --content: white;
    --recipes:rgba( 24, 25, 26, 0.2);
}

.darkmode {
    --color1: #313338;
    --color2: white;
    --body: #1e1f22;
    --navbuttext: white;
    --currentbutton: white;
    --header: #313338;
    --button: #313338;
    --headerh1: white;
    --switchborder: white;
    --content: #313338;
    
    --recipes:rgba( 24, 25, 26, 0.3);
}


.header-img {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    margin: 10px;
    filter: invert(1);
}

header h1 {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'Bokor', cursive;
    font-size: 50px;
    transition: color var(--transition-speed) ease-in-out;
    font-weight: normal;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: var(--header);
    height: 80px;
    display: flex;
    align-items: center;
    transition: background-color var(--transition-speed) ease-in-out;

}

.parent {
    margin-left: auto;
}

@font-face {
    font-family: 'ggsans-medium';
    src: url('ggsans-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'ggsans-bolder';
    src: url('ggsans-ExtraBold.ttf');
    font-weight: bolder;
    font-style: normal;
}

.header-nav {
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;

}

.header-nav ul {
    display: flex;
    margin: 0;
}

.header-nav ul li {
    margin: 0 10px;
}

.header-nav ul li a {
    padding: 0 30px;
    cursor: pointer;
    height: 100%;
    display: block;
    font-family: 'ggsans-bolder', sans-serif;
}

body {
    background-color: var(--body);
    transition: background-color var(--transition-speed) ease-in-out;

}

.btn {
    background-color: var(--content);
    border-radius: 15px 15px 0px 0px;
    color: var(--currentbutton);
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
}

.spacer {
    height: 15px;
}

.nav-button {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background: var(--navb);
    color: var(--navbuttext)
}

.nav-button:after {
    content: "";
    width: 85%;
    height: 0%;
    background: var(--content);
    position: absolute;
    transition: all 0.3s ease-out;
    bottom: 0;
}

.nav-button:hover::after {
    width: 100%;
    height: 25%;
    border-radius: 15px 15px 0px 0px;
}

.nav-button span {
    text-align: center;
    color: var(--navbuttext);
    transition: all 0.3s ease-in-out;
}

.nav-button:hover span {
    transform: scale(1.05) translateY(-3px);
}

.content {
    background-color: var(--content);
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'ggsans-medium', sans-serif;
    border-radius: 15px 15px 15px 15px;
    color: var(--color2);
    display: flex;
    flex-direction: column;
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
    
    align-items: center;
    overflow: auto;
}

.content h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 60px;
   
}

.content p {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;

}

.content .filler-img {
    height: auto;
    width: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    

}

td {
    
    padding: 10px;
    text-align: center;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    
}


td:hover {
    transform: scale(1.04, 1.04);
    /* zoom in the hovered cell */
}

table:hover td:not(:hover) {
    transform: none;
}


td img {

    width: 24rem;
    height: auto;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

td p {
    
    font-family: 'ggsans-bolder', sans-serif;
    
}
td h2{
    font-family: 'ggsans-bolder', sans-serif;
    font-size: 20px;
}



/* .extra-layer1 {

    position: fixed;
    bottom: 0;
    left: 100px;
    right: 100px;
    height: 82px;
    
    background-color: var(--body);
    z-index: 2;
}

.extra-layer2 {

    position: fixed;
    bottom: 0;
    left: 100px;
    right: 100px;
    height: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--content);
    z-index: 3;
    margin-bottom: 72px;
} */


/* .fixed-nav {
    margin-top: 15px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body);
    z-index: 9999;
    border-radius: 15px 15px 0 0;
    padding-top: 40px;
}

.fixed-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.fixed-nav ul li {
    margin: 0 10px;
    list-style: none;
}

.fixed-nav ul li a {
    padding: 0 30px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ggsans-bolder', sans-serif;
    color: var(--navb);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.fixed-nav ul li a:hover {
    color: var(--navbuthover);
} */


footer {
    width: 100%;
    background-color: var(--header);
    color: var(--color1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    transition: background-color var(--transition-speed) ease-in-out;
    z-index: 8;
}

footer h1 {
    display: inline-block;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'Roboto', sans-serif;
    transition: color var(--transition-speed) ease-in-out;
    z-index: 8;
}


.toggle-switch {
    position: relative;
    width: 60px;
    height: 25px;
    --light: white;
    --yellow: #ffd801;
    --dark: #18191a;
    float: right;
    margin-right: 25px;
}

.switch-label {
    position: absolute;
    width: 4.5rem;
    height: 2.3rem;
    background-color: var(--switch);
    border-radius: 30px;
    cursor: pointer;
    border: 3px solid var(--switchborder);
    transition: background-color var(--transition-speed) ease-in-out, border-color var(--transition-speed) ease-in-out;
}

.checkbox {
    position: absolute;
    
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    

}

.checkbox:checked~.slider {
    background-color: var(--color1);
    transition: background-color var(--transition-speed) ease-in-out;
    
}

.slider::before {
    content: "";
    position: absolute;
    top: 0.35rem;
    left: 0.4rem;
    
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--switchborder);
    transition: background-color var(--transition-speed) ease-in-out;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30x);
    transform: translateX(34px);
    -webkit-box-shadow: inset 7px -4px 0px 0px var(--yellow);
    box-shadow: inset -9px -4px 0px 0px var(--yellow);
    background-color: var(--color1);
}

.expand-content {
    background-color: var(--recipes);
    justify-content: center;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    border-radius: 15px;
    margin-bottom: 10px;
}

.expand-content.show {
    max-height:2500px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.expand-content ul{
    margin-left:120px;
    margin-right:120px;
    margin-bottom:50px;
}
.expand-content ul li{
    list-style-type:disc;
    font-size: 18px;
    line-height: 25px;
}
.expand-content ol li{
    line-height: 25px;
}
.expand-content ol{
    margin-left:120px;
    margin-right:120px;
    font-size: 18px;
    margin-bottom: 30px;
    list-style-type: decimal;
}
.expand-content h2{
    margin-left:80px;
    font-size: 25px;
    font-family: 'ggsans-bolder', sans-serif;
    margin-bottom: 10px;
}
.expand-content .fillerimg{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

#contents {
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
}

#content1{
    font-size: 100px;
}
h3{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    line-height: 60px;
    align-items: center;
}

.comments-bar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px;
    width:50%;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 150px;
    box-sizing: border-box;
    overflow: hidden;
    height: 60px;
    background-color: var(--content);
  }
  
  .comments-bar textarea {
    flex: 1;
    border: none;
    resize: none;
    font-size: 15px;
   margin-left: 15px;
    margin-top: 35px;
    background-color: var(--content);
    
  }
  
  .comments-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
  }